@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 48.8%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
  }
}

body {
  background-color: #010B25;
}

